
.idea/modules.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/google-java-format.xml
.idea/migrate-dataflow-to-any-cloud.iml
.idea/misc.xml
.idea/runConfigurations.xml
.idea/vcs.xml
/flink/
*.class
/beam-examples/
